---
layout: default
title: Welcome
---

<div class="clear"></div>

{% for post in site.categories.posts limit:5 %}
    <div class="content-title">
        {{ post.title }}
    </div>
    {{ post.content }}
    {% if post.slides %}
    <h3>Slides from Meetup</h3>
      {{ post.slides }}
    {% endif %}
    <div class="details">
        <p>
            &mdash; {{ post.byline }} on {{ post.date | date_to_long_string }}
            &bull; <a href="{{ post.url }}">permalink</a>
            &bull; <a href="{{ post.url }}#disqus_thread">commentary</a><br />

            <em>tags:</em>
            {% for t in post.tags %}
                <a href='http://www.google.com/search?q={{ t | escape }}+site:www.btvwag.org'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
            {% endfor %}
        </p>
    </div>
{% endfor %}
