---
layout: default
title: BTVWAG -Burlington Web Application Group
meta-description: "A place for technology enthusiasts focused on web development to come together and share ideas."
meta-keywords: "Burlington, Group, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <div id="myCarousel" class="carousel slide well">
        <div class="carousel-inner">
          {% for item in site.categories.carousel %}
            {% include carousel.html %}
          {% endfor %}
        </div>
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
    </div>

    <div class="clearfix well">
      <div class="row-fluid">
        <div class="span4">
          <h3>Announcement</h3>
          <h4>QA Talks</h4>
          <h5>Wednesday, March 13th, 2013</h5>
          <h5>University of Vermont</h5>
          <p>
            Please join us for an evening of software testing presentations!
          </p>
          <p>
            <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}" class="btn btn-primary">View Details &raquo;</a>
          </p>
        </div>

        <div class="span4">
          <h3>Github Highlight</h3>
          <p>Randomly selected member github project</p>
          <div class="follower-project"></div>
        </div>

        <div class="span4">
          <h3>{{ site.hashtag }} tweets</h3>
          <div class="tweets clearfix">
          </div>
          <p><a class="btn btn-primary" href="https://twitter.com/#!/search/btvwag">See more &raquo;</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="span3">
    <div class="well">
      <h2>About BTVWAG</h2>
      <p class="description">
        {{page.meta-description}}
        We meet once a month or two in Burlington to discuss a variety of web-related topics. See our <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}">past events</a> for a list of previous topics.
      </p>
      <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}" class="btn btn-primary btn-large">Upcoming Events &raquo;</a>
    </div>

    <div class="well">
      <h2>Newsletter Signup</h2>
      <p>Event announcements, meeting notes, tech articles and job postings. <a href="http://eepurl.com/lVkBf">Preview issue #1</a></p>
      <form action="http://btvwag.us5.list-manage.com/subscribe/post?u=1bc6d2648499cf76a23abcee1&amp;id=60c657c8f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <input type="email" value="" name="EMAIL" class="span10 required email" id="mce-EMAIL" placeholder="Email Address">
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
      </form>
    </div>

    <div class="well">
      <a href="http://oreilly.com" target="_blank"><img src="assets/img/oreilly.gif" alt="O'Reilly Media"></a>
      <p>Thanks to O'Reilly Media for sponsoring BTVWAG book give aways.</p>
    </div>
  </div>
</div>
