---
layout: default
title: BTVWAG - Web Development Jobs in Vermont
meta-description: "A free listing of web developer and related jobs in Vermont"
meta-keywords: "Burlington, Jobs, Careers, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

<div class='row-fluid'>
  <div class="span8">
    <div class="well">
      <h2>Web Development Jobs in Vermont</h2>
      {% for item in site.categories.jobs %}
        {% include job.html %}
      {% endfor %}
    </div>
  </div>
  <div class="span3">
    <div class="well">
      <h2>About BTVWAG</h2>
      <p class="description">
        {{page.meta-description}}
        We meet once a month or two in Burlington to discuss a variety of web-related topics. See our <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}">past events</a> for a list of previous topics.
      </p>
      <a href="https://github.com/btvwag/btvwag.github.com" class="btn btn-primary btn-large">Add a job</a>
    </div>
  </div>
</div>
