---
layout: default
title: BTVWAG -Burlington Web Application Group
meta-description: "A place for technology enthusiasts focused on web development come together to share ideas."
meta-keywords: "Burlington, Group, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

<div class="row-fluid">
  <div class="span11 well">
    <a href="mailto:{{ site.email }}" class="btn btn-primary btn-large pull-right">Add a job</a>
    <h1 class="span title"><span class="blue">btv</span>wag</h1>
    <p class="span6 description">
      {{page.meta-description}}
      We meet once a month or two in Burlington to discuss a variety of web-related topics. See our <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}">past events</a> for a list of previous topics.
    </p>
    <div class="clearfix"></div>
  </div>
</div>

<div class='row-fluid'>
  <div class="span11 well">
  <h2>Jobs</h2>
  <p>
    Looking for a job? Below you'll find a few web application development jobs in the area. Have a web application development job to offer?
    Fork the BTVWAG repository and offer up a pull request.
  </p>
  {% for item in site.categories.jobs %}
    {% include job.html %}
  {% endfor %}
  </div>
</div><!--/row-->
