---
layout: default
title: BTVWAG -Burlington Web Application Group
meta-description: "A place for technology enthusiasts focused on web development come together to share ideas."
meta-keywords: "Burlington, Group, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

<div class='row-fluid'>
  <div class="span8 well">
    <p>Sponsors help us keep the BTVWAG.org free to our community members.  Sponsors help out with hosting space and buying food, drinks, etc. Interested in helping to strengthen the Vermont tech community?</p>

    <p>Please <a href="mailto:{{ site.email }}">become a sponsor for our next event</a></p>

    <h2>Past Sponsors</h2>

    {% for item in site.categories.sponsors %}
      {% include sponsor.html %}
    {% endfor %}
  </div>

  <div class="span3">
    <div class="well">
      <h2>About BTVWAG</h2>
      <p class="description">
        {{page.meta-description}}
        We meet once a month or two in Burlington to discuss a variety of web-related topics. See our <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}">past events</a> for a list of previous topics.
      </p>
      <a href="mailto:{{ site.email }}" class="btn btn-primary btn-large">Become a sponsor</a>
    </div>
  </div>
</div><!--/row-->
