<h1>{{ item.title }}</h1>

<table class="table">
  <tbody>
    <tr>
      <td>what</td>
      <td>{{ item.title }} [{{ item.what }}]</td>
    </tr>
    <tr>
      <td>when</td>
      <td>{{ item.when }}</td>
    </tr>
    <tr>
      <td>where</td>
      <td>{{ item.where }}</td>
    </tr>
    <tr>
      <td>who</td>
      <td>{{ item.who }}</td>
    </tr>
    {% if item.guestlist_id %}
    <tr>
      <td>Register</td>
      <td>
        <a class="guestlist-event-{{ item.guestlist_id }} btn btn-primary" href="#">Register for Event</a>
        <a target="_blank" href="https://guestlistapp.com/events/{{ item.guestlist_id }}">See who's coming</a>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>

<h3>Details</h3>
{% if item.rsvp_url %}
  <a href='{{ item.rsvp_url }}'>RSVP</a>
{% endif %}

{{ content }}

{% if item.guestlist_id %}
  {% if item.date > site.time %}
    <p>See <a href="http://guestlistapp.com/events/{{ item.guestlist_id }}">who's coming.</a></p>
    <a class="guestlist-event-{{ item.guestlist_id }} btn btn-primary" href="#">Register for Event</a>
  {% endif %}
{% endif %}

{% if item.slides %}
  <h4 class="title-block" id="down">Slides from Meetup<span class="arrow">&#8595;</span></h4>
  <div class="content-block">
    {{ item.slides }}
  </div>
{% endif %}
