---
layout: default
title: Jobs
---

<h1>Jobs</h1>

<p>Looking for a job? Below you'll find a few web application development
jobs in the area. Have a web application development job to offer?
Email tristan at agilionapps.com or fork the
<a href="http://github.com/btvwag/btvwag.github.com" target="_blank">BTVWAG repository</a>
and offer up a pull request.</p>

{% for job in site.categories.jobs %}
    <div class="job">
        <div class="content-title">
            <a href="{{ job.link }}" target="_blank">{{ job.title }}</a>
        </div>
        <h2>{{ job.company }}</h2>
        {{ job.content }}
        {% if job.link %}
          <a href="{{ job.link }}" target="_blank">More Information</a>
        {% endif %}
    </div>
{% endfor %}
