{% include header-doc.html %}

  <title>Cyborg Institute: {{ page.title }}</title>

{% include header-page.html %}

  <div id="menu">
    <ul class="menu">
      {% include menu-top-core.html %}
      {% include menu-top-divisions.html %}
    </ul>
  </div>

   <div id="primary">
     <div class="inside">
       <div class="content">
	 {% include blog-nav-header.html %}

	 {{ content }}
       </div>
     </div>

      <hr class="hide" />

      <div id="ancillary"><a name="menu"></a>
	<div class="inside"> 
	  <div class="block first">
	    {% include menu-about.html %}

	    {% include menu-cylinks.html %}
	  </div>
	  
	  <div class="block second">
	    {% include menu-search.html %}

	    {% include menu-internal.html %}
	  </div>
	  
	  <div class="block third">
	    {% include menu-blog-nav.html %}

	    {% include menu-blog-about.html %}
	  </div>
	  
	</div>
	  <div class="clear"></div>

      </div>

{% include footer.html %}
