<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="/media/css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/media/css/syntax.css" type="text/css" media="screen" />
    <link href="/atom.xml" rel="alternate" title="BTVWAG" type="application/atom+xml" />
    <title>{{ page.title }} :Burlington Web Application Group (BTVWAG)</title>
</head>
<body>
    <div id="header">
        <div class="inside">
            <div class="title"><a href="/">BTVWAG</a></div>
            <p>Burlington Web Application Group &mdash; A place for technology
                enthusiasts focused on web development come together to share ideas.</p>
        </div>
    </div>
    <div id="menu">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="http://www.linkedin.com/groups?gid=3092379">LinkedIn</a></li>
            <li><a href="http://twitter.com/btvwag">Twitter</a></li>
            <li><a href="http://github.com/btvwag">GitHub</a></li>
        </ul>
    </div>

    <div id="primary">
        <div class="inside">
            <div class="content">
                {{ content }}
            </div>
        </div>
    </div>
    <hr class="hide" />

    <div id="ancillary">
        <a name="menu"></a>
        <div class="inside">
            <div class="block first">
            </div>
            <div class="block second">
            </div>
            <div class="block third">
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div id="footer">
        <div class="inside">
            <div class="utom">
                <p class="copyright">Theme adapted from
                    <a href="http://git.cyborginstitute.net/?p=cyborginstitute.com.git">cyberinstitue</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
