---
layout: default
---

<div class="meta" align="center">  
  tags:
    {% for t in page.tags %}
        <a href='http://www.google.com/search?q={{ t | escape }}+site:btvwag.github.com'>{{ t }}</a>
    {% if forloop.last == false %}, {% endif %}
    {% endfor %}
</div>

{{ content }}

<div class="details">
  &mdash; {{ page.byline }} on {{ page.date | date_to_long_string }} 
  &bull; <a href="{{ page.url }}">Permalink</a></p> 
  &bull; <a href="#disqus_thread">Comments</a>
</div>

<div class="clear"></div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://btvwag.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=btvwag">comments powered by Disqus.</a></noscript>
