---
layout: default
meta-description: "A place for technology enthusiasts focused on web development come together to share ideas."
meta-keywords: "Burlington, Group, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

{% assign item = page %}

<div class="row-fluid">
  <div class="span11 well">
    <a href="mailto:{{ site.email }}" class="btn btn-primary btn-large pull-right">Suggest an event</a>
    <h1 class="span title"><span class="blue">btv</span>wag</h1>
    <p class="span6 description">
      {{page.meta-description}}
      We meet once a month or two in Burlington to discuss a variety of web-related topics. See our <a href="{% for event in site.categories.event limit:1 %}{{ event.url }}{% endfor %}">past events</a> for a list of previous topics.
    </p>
    <div class="clearfix"></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span8 well">
    {% include event.html %}
  </div>

  <div class="span3">
    <div class="well sidebar-nav">
      <h3>Upcoming Events</h3>
      <ul class="nav nav-list">
        {% for event in site.categories.event %}
          {% if site.time <= event.date %}
          <li>
            <a href="{{event.url}}">{{event.when}}</a>
            <span class="mini">{{ event.title }}</span>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="well sidebar-nav">
      <h3>Past Events</h3>
      <ul class="nav nav-list">
        {% for event in site.categories.event %}
          {% if site.time > event.date %}
            <li>
              <a href="{{event.url}}">{{event.when}}</a>
              <span class="mini">{{ event.title }}</span>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->
